.mainhstyle {
  font-weight: 800;
  font-family: poppins, sans-serif;
  color: white;
}

/*Animated background*/
#headersec {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(
    315deg,
    rgba(101, 0, 94, 1) 3%,
    rgba(60, 132, 206, 1) 38%,
    rgba(48, 238, 226, 1) 68%,
    rgba(255, 25, 25, 1) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

.text1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}

.underline {
  text-decoration: underline;
  display: inline;
}

.gridcontainer {
  display: grid;
}

#lottie-animation {
  margin-top: 30px;
  place-self: center;
}

.imagedsc {
  display: flex;
}

.davide {
  width: 150px;
  padding-top: 100px;
  justify-content: center;
}

.container2 {
  display: flex;
  width: 100%; /* La riga occupa tutta la larghezza disponibile */
  height: 50%; /* Altezza opzionale */
}

.column {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

/* Colonna 1: 2/6 dello spazio */
.column-1 {
  flex: 2; /* Assegna 2 parti di spazio */
  background-color: #4caf4f00; /* Verde */
}

/* Colonna 2: 4/6 dello spazio */
.column-2 {
  flex: 4; /* Assegna 4 parti di spazio */
  background-color: #2195f300; /* Blu */
  padding-top: 70px;
}

.textdetails {
  font-family: poppins, sans-serif;
  font-weight: 600;
  color: darkgray;
}

.copy {
  color: black;
  font-family: poppins, sans-serif;
  font-size: 16px;
  padding-top: 20px;
}

.iconcontainer {
  display: flex;
  justify-content: space-around;
}

.material-icons {
  color: black;
}

.text2 {
  color: black;
}

.textcolorblack {
  color: black;
  display: block;
  text-transform: uppercase;
  font-size: 15px;
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.col-md-6.getintouch {
  padding-left: 10%;
  padding-right: 10%;
}
